body {
    display: block;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
  
h1 {
    margin-top:20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h4 {
    font-weight: bold;
}

h5 {
    font-weight: 400;
}

blockquote{
    margin:20px;
    padding: 10px 20px;
    border-left: 1px solid #e7e7e7;
}


.container{
    margin-left: 0 auto;
    max-width: 800px;
}

.job-title {
    font-weight: 400;
    font-style: italic;
}

.contact {
        background-color: #bbc1d6;
        padding: 2px 10px;
}

.fineprint p {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 20px;
    padding-top: 4px;
    font-size: x-small;
}

.info-row{
    padding-top: 10px;
    margin: 20px 20px;

}

@media screen and (max-width: 600px) {
    .info-row {
      margin: -10px;
    }
  }